<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Danh sách bài viết</h1>
<a href="/blogposts/new">Tạo bài viết mới</a>
<ul>
<% posts.forEach(post => { %>
<li>
<strong><%= post.title %></strong><br>
<span><%= post.body %></span><br>
<a href="/blogposts/<%= post._id %>">Xem chi tiết</a>
<a href="/blogposts/edit/<%= post._id %>">Chỉnh sửa</a>
<a href="/blogposts/delete/<%= post._id %>" onclick="return confirm('Chắc chắn xóa không?')">Xóa bài</a><hr>
<% }) %>
</ul>

</body>
</html>